{% extends "base.html" %} {% block content %}

<div class="box">
  <h1>Login</h1>

  {% if not logged_in %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <form action="{{ url_for('login') }}" method="post">

      {{ form.hidden_tag() }}

      {{ form.email }}
      {{ form.password }}

      {{ form.submit }}

    </form>

  {% else %}
    <p>You are already logged in.</p>
  {% endif %}

</div>

{% endblock %}
